[package]
name = "rust_lib_all_in_one"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
anyhow = "1"
cron-job = "=0.1.4"
flutter_rust_bridge = "=2.0.0-dev.31"
once_cell = "1.19.0"
rust_simple_notify_lib = { path = "../rust_simple_notify_lib" }
sysinfo = "0.30.8"
systemicons = "=0.7.0"
systemstat = "0.2.3"
winreg = "0.52.0"

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3", features = [
    "winuser",
    "libloaderapi",
    "processthreadsapi",
] }

[features]
[target.'cfg(windows)'.features]
windows-only = ["winreg", "winapi"]

[patch.crates-io]
gtk-sys = "0.18"
