[package]
name = "rust_lib_all_in_one"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
anyhow = "1"
flutter_rust_bridge = "=2.0.0-dev.28"
systemicons = "=0.7.0"
winreg = "0.52.0"

[features]
[target.'cfg(windows)'.features]
windows-only = ["winreg"]